[Unit]
Description=Nimubs Beacon Node (%I)

# Sources:
# https://nimbus.guide/beacon-node-systemd.html 


# Start after network is up.
Wants=network-online.target
After=network-online.target

[Service]

# Run as nimbus:nimbus
User=nimbus

WorkingDirectory=~

# Default values for environmental variables
Environment= \
    NETWORK=%i \
    TCP_PORT=9000 \
    UDP_PORT=9000 \
    METRICS=false \
    WEB3_URL=ws://localhost:8551 \
    JWT_SECRET=/home/geth/geth/jwtsecret \
    FEE_RECIPIENT=0x84af3D5824F0390b9510440B6ABB5CC02BB68ea1

# Network-specific environmental variables
EnvironmentFile=/home/nimbus/%i.conf
    

ExecStart=nimbus_beacon_node \
    --non-interactive \
    --metrics=${METRICS} \
    --data-dir=data/${NETWORK} \
    --network=${NETWORK} \
    --web3-url=${WEB3_URL} \
    --jwt-secret=${JWT_SECRET} \
    --tcp-port=${TCP_PORT} \
    --udp-port=${UDP_PORT} \
    --suggested-fee-recipient=${FEE_RECIPIENT}

# Give this time to stop before sending SIGKILL.
TimeoutStopSec=5min

# Restart if exits with any exit code.
Restart=always

# Delay restart by 5 sec.
# I've seen this value in many places, but may not be needed.
RestartSec=5

# Don't restart when Doppelganger detection has been activated
RestartPreventExitStatus=129

[Install]

WantedBy=multi-user.target

